body{
    margin: 0;
}

h1{
    margin-top: 50px;
}

.web{
    text-decoration: underline;
}

.top-container{
    background-color: #E4F9F5;
    /* margin: 20px; */
    padding: 20px;
}

.middle-container{
    height: 200px;
    width: 200px;
    background-color: rgb(18, 44, 94);
}

.bottom-container{
    height: 200px;
    width: 200px;
    background-color: darkcyan;
}